com.systinet.soa.ext.core.3.00.jar/EXTENSION-INF/sdm/xsd/properties/predefinedTypes/nameValuePair.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://systinet.com/2005/05/soa/model/property/type"
           xmlns="http://systinet.com/2005/05/soa/model/property/type" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified">

    <xs:complexType name="nameValuePairPropertyType">
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>
